/* 와이드 pc  */
.videoBox{width:100%;height:100%; overflow:hidden; position:absolute}
#imgBG{
	position:fixed; /*고정=>fixed/ 스크롤처리=>absolute */
   left:50%;
   top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
   width:auto;
   min-width:100%; /*동영상 너비를 꽉차게*/
   height:auto;
   min-height:100%; /*동영상 높이를 꽉차게*/
  transform:translateX(-50%) translateY(-50%);
   z-index:-100;
   /* display:none; */
}

:root {
    --green: #ffa34d;
  }

/* sub1 footer top */
@keyframes font_ani {
    0% {
        color: rgba(255, 163, 77, 0.8);
    }

    50% {
        color: #fff;
    }

    100% {
        color: rgba(255, 163, 77, 0.8);
    }
}

#footerArea .top {
    box-shadow: 0px 0px 10px rgba(255, 179, 108, .8);
    animation: font_ani 2s infinite;
}

#content{
    position: relative;
    /* background: linear-gradient(to bottom, #fff, #fec1c6); */
}
#content h2{
    position: absolute;
    top: -500px;
    left: 0;
    text-align: center;
    font-size: 3.889rem;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0px 0px 10px #fff;
    -webkit-text-stroke: 1px rgba(62, 53, 50, .8);
}
.move {
    animation: animateRed 2s infinite ease alternate;
    }
    
@keyframes animateRed {
    0% { }
    100% { transform:  scale(1.1, 1.1)}
}
    

/* glitch 효과 */

h2.glitch::before, h2.glitch::after {
    content: "TRAILER";
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-49.5%, -49.5%);
  }
h2.glitch::before {
    text-shadow: -2px 0 red;
    animation-name: glitch-animation-1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
h2.glitch::after {
    text-shadow: -2px 0 blue;
    animation-name: glitch-animation-2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
  
  @keyframes glitch-animation-1 {
    0% {
      clip: rect(73px, 400px, 62px, 0px);
    }
    5% {
      clip: rect(49px, 400px, 27px, 0px);
    }
    10% {
      clip: rect(121px, 400px, 121px, 0px);
    }
    15% {
      clip: rect(68px, 400px, 24px, 0px);
    }
    20% {
      clip: rect(19px, 400px, 143px, 0px);
    }
    25% {
      clip: rect(98px, 400px, 8px, 0px);
    }
    0% {
      clip: rect(20px, 400px, 126px, 0px);
    }
    35% {
      clip: rect(74px, 400px, 76px, 0px);
    }
    40% {
      clip: rect(103px, 400px, 60px, 0px);
    }
    45% {
      clip: rect(149px, 400px, 5px, 0px);
    }
    50% {
      clip: rect(149px, 400px, 53px, 0px);
    }
    55% {
      clip: rect(57px, 400px, 34px, 0px);
    }
    60% {
      clip: rect(36px, 400px, 115px, 0px);
    }
    65% {
      clip: rect(39px, 400px, 51px, 0px);
    }
    70% {
      clip: rect(78px, 400px, 14px, 0px);
    }
    75% {
      clip: rect(23px, 400px, 91px, 0px);
    }
    80% {
      clip: rect(32px, 400px, 34px, 0px);
    }
    85% {
      clip: rect(140px, 400px, 79px, 0px);
    }
    90% {
      clip: rect(143px, 400px, 78px, 0px);
    }
    95% {
      clip: rect(65px, 400px, 144px, 0px);
    }
    100% {
      clip: rect(61px, 400px, 38px, 0px);
    }
  }
  @keyframes glitch-animation-2 {
    0% {
      clip: rect(125px, 400px, 69px, 0px);
    }
    5% {
      clip: rect(92px, 400px, 17px, 0px);
    }
    10% {
      clip: rect(109px, 400px, 44px, 0px);
    }
    15% {
      clip: rect(137px, 400px, 140px, 0px);
    }
    20% {
      clip: rect(5px, 400px, 1px, 0px);
    }
    25% {
      clip: rect(139px, 400px, 95px, 0px);
    }
    0% {
      clip: rect(79px, 400px, 115px, 0px);
    }
    35% {
      clip: rect(121px, 400px, 5px, 0px);
    }
    40% {
      clip: rect(48px, 400px, 106px, 0px);
    }
    45% {
      clip: rect(134px, 400px, 117px, 0px);
    }
    50% {
      clip: rect(53px, 400px, 38px, 0px);
    }
    55% {
      clip: rect(64px, 400px, 132px, 0px);
    }
    60% {
      clip: rect(118px, 400px, 13px, 0px);
    }
    65% {
      clip: rect(40px, 400px, 120px, 0px);
    }
    70% {
      clip: rect(72px, 400px, 148px, 0px);
    }
    75% {
      clip: rect(53px, 400px, 108px, 0px);
    }
    80% {
      clip: rect(31px, 400px, 134px, 0px);
    }
    85% {
      clip: rect(61px, 400px, 139px, 0px);
    }
    90% {
      clip: rect(28px, 400px, 139px, 0px);
    }
    95% {
      clip: rect(117px, 400px, 94px, 0px);
    }
    100% {
      clip: rect(94px, 400px, 122px, 0px);
    }
  }


/* 트레일러 slogan */
.trailer_slogan{
    background: rgba(62, 53, 50, .7);
    text-align: center;
    padding: 70px 0;
}
.trailer_slogan h3{
    font-size: 3rem;
    font-family: 'Orbitron', 'Roboto', sans-serif;
    margin-bottom: 30px;
    text-shadow: 0px 0px 5px #fff;
}
.trailer_slogan p{
    display: inline-block;
    font-size: 1.1rem;
    line-height: 2;
    letter-spacing: 2px;
    padding: 0 50px;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}

/* 트레일러 video */
#particle-canvas {
    width: 100%;
    height: 1400px;
    /* background: linear-gradient(to bottom, rgb(10, 10, 50) 0%,rgb(60, 10, 60) 100%); */
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 150px;
  }


.video_box{
    background: rgba(62, 53, 50, .98);
    padding: 200px 0 0;
}
.video_box .clip_part .subTitle {
    position: relative;
    padding-top: 10px;
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: #fff
}

.video_box>.clip_part .subTitle:after {
    content: '';
    display: block;
    position: absolute;
    top: -30px;
    left: 50%;
    width: 100px;
    height: 4px;
    margin-left: -50px;
    background: #fec1c6;
}

.video_box .clip_part .clip_part {
    margin-bottom: 100px;
}

.video_box>.clip_part .contentArea {
    position: relative;
    width: 50%;
    margin: 30px auto
}

.video_box .clip_part .imgPart {
    position: relative;
    cursor: pointer;
    margin-bottom: 30px
}
.video_box .clip_part .contentArea .imgPart .popup-youtube{
    border: 2px solid #fff;
    display: block;
    overflow: hidden;
}
.video_box .clip_part .contentArea .imgPart:hover .popup-youtube{
    box-shadow: 0px 0px 10px 3px #fff;
    border: 2px solid #fec1c6;
}
.video_box .clip_part .contentArea .imgPart .popup-youtube>img {
    width: 100%;
    box-sizing: border-box;
    transform: scale(1.2) rotate(6deg);
    filter: saturate(0.8) contrast(0.8);
    transition: all .3s;
}
.video_box .clip_part .contentArea .imgPart .popup-youtube>img:hover {
    transform: scale(1);
    filter: none;
}


.video_box .clip_part .contentArea p {
    color: #fff;
    text-align: center;
    font-size: 1.1rem;
    line-height: 2;
}

.video_box .clip_part .playBnt {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 110px;
    height: 110px;
    margin: -55px 0 0 -55px;
    border-radius: 94px;
    background: rgba(0,0,0,.5);
    transition: all .3s;
}

.video_box .clip_part .imgPart:hover .playBnt {
    background: rgba(255,0,0,.5);
    transform: rotate(360deg);
}

.video_box .clip_part .playBnt img {
    position: relative;
    width: auto;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -20px    
}

.video_box .clip {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    padding: 0 7%;
    position: relative;
    z-index: 1;
}
.video_box .clip .second{
    width: 30%;
}
.video_box .clip .second h3{
    font-size: 1.5rem;
}
.video_box .clip .second .contentArea{
    position: relative;
    margin-top: 30px;
}

.clip_box{
    background: url(../images/trailer_bg.jpg) fixed no-repeat;
    background-size: cover;
    margin-top: 100px;
    padding: 200px 0;
    position: relative;
}
/* .clip_box::before{
    content: '';
    display: block;
    position: absolute;
    top: -25%;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, transparent, #362d2a, transparent);
} */

.clip_box ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.clip_box ul li{
    width: 40%;
    position: relative;
}
.clip_box ul li::before{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -30px;
    width: 45%;
    height: 2px;
    background: #fff;
    box-shadow: 0px 0px 5px #fff;
}
.clip_box ul li::after{
    content: 'BELLE Official Clip';
    font-size: 1.8rem;
    color: #fff;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -80px;
    text-shadow: 0px 0px 5px #fff;
}


.clip_box ul li a{
    display: block;
    position: relative;
}
.clip_box ul li a::before{
    content: 'Click!';
    color: #fff;
    font-size: 2rem;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    padding-top: 37px;
    box-sizing: border-box;
    background: rgba(62, 53, 50, .5);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -75%);
    z-index: 1;
    animation: color 1.5s infinite linear;
}
@keyframes color {
    0%{color: #fff;}
    50%{color: rgba(62, 53, 50, 1);}
    100%{color: #fff;}
}


.clip_box ul li a img{
    width: 80%;
    margin: 0 10%;
    border: 2px solid #fff;
    filter: grayscale(50%);
    transition: all .3s;
}

.clip_box ul li a:hover img{
    filter: grayscale(0);
    transform: scale(.95);
}
.clip_box ul li a p{
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0px 0px 10px rgba(62, 53, 50, 1);
}


.clip_box .modal_box{
    background: rgba(0, 0, 0, .8);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    display: none;
}
.clip_box .video_pop{
    width: 60%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 55;
    display: none;
}
.clip_box .video-container{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    z-index: 55;
}
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.clip_box .pop_close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    display: block;
    z-index: 55;
}
.material-symbols-outlined{
    font-size: 1.667rem;
}



/* +일반 pc */
@media screen and (max-width:1600px) {
    .video_box .clip .playBnt{
        width: 80px;
        height: 80px;
        margin: -40px 0 0 -40px;
    }
    .video_box .clip .playBnt img{
        width: 45%;
        transform: translate(-40%, -50%);
        margin: 0;
    }
    .clip_box ul li::after{
        font-size: 2vw;
    }
}

/* 일반 pc */
@media screen and (max-width:1280px) {
    .clip_box ul li::after{
        top: -70px;
        font-size: 2.3vw;
    }
    .clip_box ul li a img{
        width: 90%;
        margin: 0 5%;
    }
    .clip_box ul li::before{
        width: 55%;
    }
    .video_box .clip .second h3{
        font-size: 1.4rem;
    }
    
    
}

/* 테블릿 */
@media screen and (max-width:1024px) {
    .down{
    font-size: 1rem;
    }
    #particle-canvas{
        height: 1200px;
        top: 200px;
    }
    .video_box .clip_part .playBnt{
        width: 90px;
        height: 90px;
        margin: -45px 0 0 -45px;
    }
    .video_box .clip_part .playBnt img{
        width: 50%;
        transform: translate(-35%, -50%);
        margin: 0;
    }
    .video_box .clip .playBnt{
        width: 70px;
        height: 70px;
        margin: -35px 0 0 -35px;
    }
    .video_box .clip_part .playBnt img{
        width: 45%;
    }
    .video_box .clip .second h3{
        font-size: 2vw;
    }
}    


/* 소형 테블릿 */
@media screen and (max-width:768px) {
    .video_box>.clip_part .contentArea{
        width: 75%;
    }
    .video_box .clip{
        flex-wrap: wrap;
        column-gap: 4%;
    }
    .video_box .clip .second{
        width: 47%;
    }
    .video_box .clip .second:nth-child(3){
        width: 75%;
    }
    .video_box .clip .second h3{
        font-size: 1.3rem;
    }
    .video_box .clip .second:nth-child(3) .playBnt{
        width: 80px;
        height: 80px;
        margin: -40px 0 0 -40px;
    }
    .clip_box{
        padding: 200px 0 100px;
    }
    .clip_box ul{
        flex-direction: column;
        align-items: center;
    }
    .clip_box ul li a img{
        width: 100%;
        margin: 0 auto;
    }
    .clip_box ul li{
        width: 65%;
        margin-bottom: 50px;
    }
    .clip_box ul li::before{
        width: 65%;
    }
    .clip_box ul li::after{
        font-size: 1.5rem;
    }
    .clip_box ul li:nth-child(2)::before{
        display: none;
    }
    .clip_box ul li:nth-child(2)::after{
        display: none;
    }
    .clip_box ul li a p{
        font-size: 1.2rem;
    }
    .clip_box .video_pop{
        width: 80%;
    }
}  

/* 모바일 */
@media screen and (max-width:640px) {
    .trailer_slogan h3{
        font-size: 9.3vw;
    }
    #particle-canvas{
        width: 700px;
        top: 250px;
    }
    .video_box>.clip_part .contentArea{
        width: 85%;
    }
    .video_box .clip{
        flex-direction: column;
        flex-wrap: nowrap;
        column-gap: normal;
        align-items: center;
        padding: 0;
    }
    .video_box .clip .second, .video_box .clip .second:nth-child(3){
        width: 85%;
    }
    .video_box .clip .playBnt, .video_box .clip .second:nth-child(3) .playBnt{
        width: 90px;
        height: 90px;
        margin: -45px 0 0 -45px;
    }
    
    .clip_box ul li{
        width: 75%;
    }
    .clip_box ul li::after{
        font-size: 1.3rem;
    }
    .clip_box ul li::before{
        width: 55%;
    }
    .clip_box .video_pop{
        width: 90%;
    }
}

/* 최소사이즈 처리 */
@media screen and (max-width:480px) {

    #content h2{
        font-size: 11vw;
    }

    #particle-canvas{
        width: 500px;
        top: 200px;
    }
    .video_box .clip_part .subTitle{
        font-size: 6.7vw;
    }
    .clip_box ul li{
        width: 85%;
    }
    .clip_box ul li::before{
        width: 65%;
    }
    .clip_box ul li::after{
        font-size: 5vw;
    }
    .clip_box .video_pop{
        width: 100%;
    }
   
}

@media screen and (max-width:320px) {
    #content h2{
        font-size: 2.5rem;
    }
    #particle-canvas{
        width: 350px;
        top: 150px;
    }
    .clip_box ul li::after{
        font-size: 1.15rem;
        top: -60px;
    }
    .video_box{
        padding-top: 120px;
    }
    .video_box .clip_part .playBnt, .video_box .clip .playBnt, .video_box .clip .second:nth-child(3) .playBnt{
        width: 70px;
        height: 70px;
        margin: -35px 0 0 -35px;
    }
    .video_box .clip{
        margin-top: 30px;
    }
    .clip_box ul li a::before{
        width: 70px;
        height: 70px;
        transform: translate(-50%, -85%);
        font-size: 1.5rem;
        padding-top: 25px;
    }
}